* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    background-color: 	#ba5959;
}

.top {
    grid-area: top;
    padding: 20px 0;
    
}

.main {
    grid-area: main;
    padding: 10px 0;
    justify-items: center;
    align-content: center;
    align-self: center;
}

.sidemenu {
    grid-area: side;
}

footer {
    grid-area: footer;
    text-align: right;
    padding: 10px;
}

.grid-container {
    display: grid;
    grid-template-rows: 10vh 85vh 5vh;
    grid-template-columns: 15fr 85fr;
    grid-template-areas: 
    "top top"
    "side main"
    "footer footer";
}

h1 {
    text-align: center;
}

.formlogin {
    display: flex;
    flex-direction: column;
}

.forminputs {
    display: flex;
    flex-direction: column;
    padding: 12px;
    width: 15%;
    align-self: center;
}

#formUser, #formPass, #formEmail, #formReEmail, #formRePass, #loginBtn, #t1add, #t2add, #rdate, #addBtn {
    margin-bottom: 10px;
    border: solid white 1px;
    color: ba5959;
    padding: 5px;
}

#formUser::placeholder, #formPass::placeholder, #loginBtn::placeholder, #formEmail::placeholder,
#formReEmail::placeholder, #formRePass::placeholder, #t1add::placeholder, #t2add::placeholder {
    color: ba5959;
    opacity: 0.5;
}

.games {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.game {
    display: flex;
    flex-direction: column;
    background: lemonchiffon;
    margin: 10px;
    align-items: center;
    justify-items: center;
}

p {
    text-align: center;
}

.t1dat, .t2dat {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.t1dat {
    margin-right: 10px;
}

.res {
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.reg {
    text-decoration: none;
    color: white;
    font-size: 0.8em;
    text-align: center;
}

.reg:hover {
    text-decoration: underline;
}

.inf {
    width: 100%;
    border-top: solid red 1px;
    padding: 10px;
}

.sidenav {
    padding-top: 30px;
}

.navlist {
    list-style: none;
    padding: 0;
}

.navbtn {
    margin-bottom: 2px;
    width: 200px;
}

.navbtn a {
    display: block;
    text-decoration: none;
    color: #ba5959;
    background-color: white;
    font-size: 1.25em;
    padding: 5px 8px;
    text-align: center;
}

.navbtn a:hover {
    background-color: #e3e3e3;
}
